<div class="sidebar d-flex flex-column p-3 position-fixed">
  <h4 class="text-center mb-4"><%= SHOPNAME %></h4>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/dashboard" class="nav-link <%= activePage === 'dashboard' ? 'active' : '' %>">
        <i class="bi bi-speedometer2 me-2"></i><span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/customers" class="nav-link <%= activePage === 'customers' ? 'active' : '' %>">
        <i class="bi bi-people me-2"></i><span>خرید کنندہ</span>
      </a>
    </li>
    <li>
      <a href="/suppliers" class="nav-link <%= activePage === 'suppliers' ? 'active' : '' %>">
        <i class="bi bi-people me-2"></i><span>فروخت کنندہ</span>
      </a>
    </li>
    <li>
      <a href="/transactions" class="nav-link <%= activePage === 'transactions' ? 'active' : '' %>">
        <i class="bi bi-cash-stack me-2"></i><span>کھاتہ</span>
      </a>
    </li>
    <li>
      <a href="/payments" class="nav-link <%= activePage === 'payments' ? 'active' : '' %>">
        <i class="bi bi-cash-stack me-2"></i><span>پیمنٹ</span>
      </a>
    </li>
    <li>
      <a href="/purchase-order-page" class="nav-link <%= activePage === 'purchase-order' ? 'active' : '' %>">
        <i class="bi bi-people me-2"></i><span>خرید بل</span>
      </a>
    </li>
    <li>
      <a href="/sales-order-page" class="nav-link <%= activePage === 'sale-order' ? 'active' : '' %>">
        <i class="bi bi-people me-2"></i><span>فروخت بل</span>
      </a>
    </li>
    <li class="mt-auto">
      <form action="/logout" method="POST">
        <button class="nav-link btn btn-link text-start w-100" type="submit">
          <i class="bi bi-box-arrow-right me-2"></i><span>Logout</span>
        </button>
      </form>
    </li>
  </ul>
</div>
